#body{
        background-color:#f2f2f2  
}

.info{
display: flex;
justify-content: center;
font-family: cursive;
color: black;
justify-content: space-around;
font-size: 18px;
text-align: center;
}

.inf{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.in{
    color: aliceblue;
    font-family: cursive;
}

.white{
    color: blue
}

.home-ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.about-img {
    width: 500px;
    height: 380px;
}

.sect-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px ;
} 

.home-a {
    color: blue;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    

.mother {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-top: 20px;
    flex-wrap: wrap-reverse;
}

.ogugua {
    border-right: 100px solid white;
    width: 200px;
    background-color: white;
    width: 130px;
}

.mom {
    border-right: 10px solid white;
    width: 200px;
    background-color: white;
    width: 130px;
}


.dad {
    border-right: 1px solid white;
    width: 200px;
    background-color: white;
    width: 130px;
}

.kachi {
    border-right: 10px solid white;
    width: 200px;
    width: 130px;
    padding-right: 20px;
}
.roduct-img{
    width: 130px;
    height: 150px;
} 
.dev {
    padding-top: 50px;
    padding-right: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-right: 10px solid white;
    width: 180px;
    background-color: white;
}

#img {
    border-radius: 200%;
}

#it {
    display: flex;
    justify-content: center;
    color: black;
    background-color: bisque;
}

#search {
    width: 400px;
    font-size: 1rem;
    
}

#og {
    padding-right: 4px;
}
#tech{
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
    padding-top: 10px;
}
.button{
    color: ghostwhite;
    background-color: red;
}
.div{
    display: flex;
    justify-content: center;
}
 #body{
    background-color: #f2f2f2;
    font-size: .8125rem;
 }
 #img{
    display: flex;
    justify-content:space-between;
    
 }
 .lt{
    display: flex;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    
}
.li{padding-right: 30px;

}
#glasses{
    display: flex;
justify-content: flex-start;
font-size: x-large;

}
#vi{
       color: #9a0052;
}
.items{
    padding-right: 150px;
    background-color: #9a0052;
    color: #fff;    
    
}
.heading{
    padding-right: 60px;
   
     
}

#log{
    padding-bottom: 4px;
}
#button{
    box-sizing: border-box;
    background-color: rgb(0, 128, 0);
}
.fccb0_2PhkY{
    background-color: #fff;
    border-radius: 0.125rem;
    color: #000;
    font-size: .8125rem;
    font-weight: 600;
    margin-left: 0.5rem;
    padding: 0.1875rem 0.375rem;
}
#lb{
    display: flex;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    background-color: #ed017f;
}
#ld{
    display: flex;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    background-color: white
}
._24849_2Ymhg{
    font-size: x-large;
}
.code{
    color: #9b9b9b;
}
.box {
    height: 50px;
    width: 50px;
    background-color: #fff;
    font-size: 20px;

}
#one{
    line-height: 1.75rem;
    white-space: nowrap;
    width: 2.5rem;
}
#two{
    line-height: 1.75rem;
    white-space: nowrap;
    width: 2.5rem;
}
#three{
    line-height: 1.75rem;
    white-space: nowrap;
    width: 2.5rem;
}
#button2{ 
    background-color: blueviolet;
    padding: 20px; color: aliceblue; 
    width: 300px;
    font-family: cursive;
} 
.foot{
display: flex;
justify-content: center;
background-color: grey;
}
 .right{
    color: aliceblue;
 }
 #about{
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#mact{
    justify-content:center;
    align-items: center;
} 
#brandname{
    color: #644ba0;
}


@media all and (max-width: 650px){
#remove{
    display: none;
}
}


@media all and (max-width: 700px){
    
        .dad {
             display: none;
            }
        
        .kachi {
            display: none;
        }
       
        #none{
            display: none;
        }

        .items{
            padding-right: 60px;
        }

        #nothing{
            display: none;
        }
    }


    @media (min-width: 701px) and (max-width: 1000px){
    #nothing{
        display: none;
    }

    .items{
        padding-right: 100px;
    }
   
    }


  