#body{
    background-color: rgba(128, 128, 128, 0.158)
    }
    .info{
    display: flex;
    justify-content: center;
    font-family: cursive;
    color: black;
    }
    .inf{
        display: flex;
        justify-content: space-between;
        
    }
    .in{
        color: aliceblue;
        font-family: cursive;
    }
    .white{
        color: blue
    }
.home-ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.home-a {
    color: blue;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    

.mother {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.ogugua {
    border-right: 100px solid white;
    width: 200px;
    background-color: white;
}

.mom {
    border-right: 10px solid white;
    width: 200px;
    background-color: white;
}


.dad {
    border-right: 1px solid white;
    width: 200px;
    background-color: white;
}

.kachi {
    border-right: 10px solid white;
    width: 200px;
}

.dev {
    padding-top: 50px;
    padding-right: 10px;
    background-color: white;

    display: flex;
    justify-content: center;
    border-right: 10px solid white;
    width: 200px;
    background-color: white;
}

#img {
    border-radius: 200%;
}

#it {
    display: flex;
    justify-content: center;
    color: black;
    background-color: bisque;
}

#search {
    width: 400px;
    font-size: 1rem;
    
}

#og {
    padding-right: 4px;
}
#tech{
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
    padding-top: 10px;
}
.button{
    color: ghostwhite;
    background-color: red;
}
.div{
    display: flex;
    justify-content: center;
}
 