#vr{ background-color: white
}

.mother{display: flex;
    align-items: center;
    justify-content: center;
    
}
.ogugua{border-right: 100px 
    solid white; 
    width: 200px; 
}
.mom{border-right: 10px 
    solid white; 
    width: 200px;

}
.dad{border-right: 1px 
    solid white; 
    width: 200px;
    

}

.kachi{
    border-right: 10px 
    solid white; 
    width: 200px;
}
.dev{padding-top: 50px;
    padding-right: 10px;    
    
    display: flex;
    justify-content: center;
    border-right: 10px 
    solid white; 
    width: 200px;
}
#img{border-radius:200%;
}
#it{display: flex;
    align-items: center;
    justify-items: center;
    
    
}